
body {color: black; background-color: white; font-weight:normal; }
h1 {color: #0000AA ;
    font-family:sans-serif; font-size:xx-large; font-weight: bold;
    text-align:center;} 
h2 {color: #0000AA ;
    font-family:serif; font-size:x-large; font-weight: bold;
    text-align:left;} 
.dt {font-weight: bold;}
div.cddefinition {
 width: 70em;
 border: solid thick;
 margin: 1em 1em 1em 1em;
 padding: 1em 1em 1em 1em;
}
/* a button used for displaying/hiding a rendered formula */
button.omcd_formula {
 width:15em;
}
button.omcd_formula.omcd_active {
 background-color:#AAFFAA;
}
button.omcd_formula.omcd_inactive {
 background-color:#CCCCCC;
}

