/* a button used for displaying/hiding a rendered formula */
button.omcd_formula {
 width:15em;
}
button.omcd_formula.omcd_active {
 background-color:#AAFFAA;
}
button.omcd_formula.omcd_inactive {
 background-color:#CCCCCC;
}

